body{
    /*
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(102,102,102,1) 51%, rgba(0,0,0,1) 100%);
    */
}

#unos, #dodajbotun{
    display: none;
}

#dodajbotun{
    border-color: lightblue;
    border-width: 5px;
}

#signIn{
    border-color: green;
    border-width: 5px;
}

#signOut{
    border-color: red;
    border-width: 5px;
    display: none;
}

.entry{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entryOld{
    text-decoration: line-through;
}

.kategorija{
    font-weight: bold;
}

.timeLeft{
    font-weight: bold;
}

#gotoviDatumi .accordion-button{
    background-color: gray;
    font-weight: bold;
    color: white;
}

.navbar{
    background-color: gray;
}