body{
    /*
    background: rgb(103,103,103);
    background: radial-gradient(circle, rgba(103,103,103,1) 18%, rgba(0,0,0,1) 100%);
    */
}

#unos{
    display: none;
}

#signIn{
    border-color: green;
    border-width: 5px;
}

#signOut{
    border-color: red;
    border-width: 5px;
    display: none;
}

.entry{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.entryOld{
    text-decoration: line-through;
}

.kategorija{
    font-weight: bold;
}

.timeLeft{
    font-weight: bold;
}

#gotoviDatumi .accordion-button{
    background-color: gray;
    font-weight: bold;
    color: white;
}

.navbar{
    background-color: gray;
}